
html,body{
	margin:0;
	padding:0;
	font-family: "微软雅黑";
}
*{
	outline: none !important;
}
body{
	background: #f1f1f1;
}
img{
	max-width: 100%;
	height: auto;
}
a,a:hover{
	text-decoration: none;
}
.display-flex{
	display: flex;
	clear: both;
}
.po-r{
	position: relative;
}
.header-wrap{
	height:12vw;
	overflow: hidden;
	position: relative;
	background: #1b1a20;
	color: #fff;
}
.header-wrap .head-back{
	position: absolute;
	left:0;
	top:0;
	width:12vw;
	height:12vw;
	line-height: 12vw;
	text-align: center;
	color: #fff;
	font-size:6vw;
}
.header-wrap .head-more{
	position: absolute;
	right:0;
	top:0;
	width:12vw;
	height:12vw;
	line-height: 12vw;
	text-align: center;
	color: #fff;
	font-size:6vw;
}
.header-wrap .head-title{
	padding:0 12vw;
}
.header-wrap .head-title h1{
	line-height: 12vw;
	font-size:4vw;
	padding: 0;
	margin:0;
	text-align: center;
}
.page-block{
	margin-bottom: 4vw;
	background: #fff;
	overflow: hidden;
}
.swiper-slide img{
	display: block;
	width:100%;
	height:auto;
}
.home-project-list{
	margin-left: -1px;
	margin-right: -1px;
	overflow: hidden;
}
.home-project-list-head{
	padding:0 4vw 4vw;
}
.home-project-list-head h2{
	margin:0;
	font-size:4.8vw;
	font-weight:bold;
	margin-bottom:1vw;
	color:#666;
}
.home-project-list-head h3{
	margin:0;
	font-size:3.8vw;
	color:#999;
}
.home-project{
	width:50%;
	float: left;
	border-left:1px solid #f1f1f1;
	border-right:1px solid #f1f1f1;
	border-bottom: 2px solid #f1f1f1;
	padding:3vw 3vw 5vw;
	color: #333;
}
.home-project .project-top{
	overflow:hidden;
	margin-bottom:3vw;
	color:#999;
	font-size: 3.8vw;
}
.home-project .project-top .reward{
	color:#999;
}
.home-project.active .project-top .reward{
	color:#ff9500;
}
.home-project .project-img{
	display:block;
	text-align:center;
	margin-bottom:4vw;
}
.home-project .project-name{
	display: block;
	width: 100%;
	font-size:3.4vw;
	line-height: 1.7;
	margin-bottom:2vw;
	font-weight:bold;
	text-align:center;
	overflow: hidden;
	text-overflow:ellipsis;
	white-space: nowrap;
	height: 5.78vw;
}
.home-project .participation{
	display: block;
	width: 100%;
	font-size:3.4vw;
	line-height: 1.7;
	text-align:center;
	color:#999;
	margin-bottom:0;
}
.home-project .participation span{
	color:#999;
}
.home-project.active .participation span{
	color:#ff9500;
}
.home-project .time-limit{
	color:#999;
	text-align:center;
	font-size:3.2vw;
	margin-bottom:0;
}

.time-limit-up{
	display:block;
	margin-bottom:2vw;
}
.time-limit-down{
	display:inline-block;
	color:#ff9500;
	margin-bottom:0;
	font-weight:bold;
	padding:1vw;
}

.home-project .quest{
	margin: 0 auto;
	line-height:2;
	display:inline-block;
    padding:0 7vw;
    border: 1px solid #999;
	color:#999;
	border-radius:10vw;
	font-size:3.8vw;
}
.home-project.active .project-top{
	color:#ff9500;
}
.sys-notice{
	background-color: #fff;
    padding: 7px;
}
.sys-notice span{
	color: #ff9500;
    margin-right: 5px;
}
.home-project.active .quest{
	color:#ff9500;
	border:1px solid #ff9500;
}
.foot .menu{
	overflow: hidden;
	background: #fff;
	position: fixed;
	left: 0;
	right:0;
	bottom:0;
	border-top: 1px solid #ccc;
	box-shadow: rgba(0,0,0,0.1) 0px 0px 10px;
	z-index: 9;
}
.foot .menu1 a{
	display: block;
	width:33.33%;
	float: left;
	text-align: center;
	padding: 1.2vw 0;
	font-size:3.2vw;
	color: #999;
}
.foot .menu1 a:hover,
.foot .menu1 a.active{
	color:#ff9500;
}
.foot .menu1 a:before{
	display: block;
	text-align: center;
	font-size:7.5vw;
}
.foot.foot1{
	padding-top: 18vw;
}
.foot.foot2{
	padding-top: 15vw;
	text-align:center;
}
.foot .menu2 a.sign-now{
	
	width:33%;
	display:inline-block;
	font-size:3.7vw;
	text-align: center;
	border:1px solid #ff9500;
	color:#ff9500;
	border-radius: 4vw;
	line-height: 2.2;
	margin: 3.2vw 0 3.2vw;
}
.foot .menu2 a.add-cart{
	
	width:33%;
	float: left;
	font-size:3.7vw;
	text-align: center;
	border:1px solid #388eff;
	color:#388eff;
	border-radius: 4vw;
	line-height: 2.2;
	margin: 3.2vw 0 3.2vw 6vw;
}
.foot .menu2 a.iconfont{
	float: right;
	width: 20%;
	text-align: center;
	border: none;
	margin:0;
}
.foot .menu2 a.iconfont:before{
	line-height: 2;
	color: #999;
	font-size:7.4vw;
}
.project-page .project-info{
	background:#fff;
	margin: 3vw;
	box-shadow:0 0 2px rgba(0,0,0,0.1);
	overflow: hidden;
}
.project-page .product-bottom{
	margin-bottom: 0;
}
.project-page .project-top{
	padding-left:32vw;
	position:relative;
	padding:3vw 3vw 3vw 35vw;
	overflow:hidden;
	
}
.project-page .project-top .project-img{
	width:29vw;
	position:absolute;
	left:0;
	top:3vw;
	left:3vw;
	
}
.project-page .project-name{
	display: block;
    width: 100%;
    font-size: 3.6vw;
    line-height: 1.7;
    margin-bottom: 2vw;
    font-weight: bold;
	padding-right:17vw;
}
.project-page .rule{
	position:absolute;
	top:3vw;
	right:3vw;
	font-size: 3.4vw;
	line-height:1.8;
	color:#777;
}
.project-page .prize-pool{
	clear:both;
	font-size: 3.4vw;
	line-height:1.5;
	color:#ff9500;
    margin-bottom: 0vw;
}
.project-page  .participation{
	color:#999;
	font-size:3.4vw;
}
.project-page .prize-pool span{
	font-size:180%;
}
.project-page .stauts{
	color:#999;
	font-size:3.4vw;
	margin:0;
}
.project-page .stauts span.right{
	float:right;
	color:#ff9500;
}
.project-page ul{
	margin: 0 3vw 3vw;
	padding-top:3vw;
	padding-left:0;
}
.project-page ul li{
	background:url("../img/list-bg.png") left 1.7vw no-repeat;
	list-style:none;
	padding-left:18px;
	color:#999;
	line-height:1.7;
	font-size:3.4vw;
}

.project-page .participator-list .participator-list-head{
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	width:100%;
	z-index:9;
	background:#fff;
}
.project-page .participator-list-head a{
	display: block;
	width:33.33%;
	float: left;
	text-align: center;
	font-size: 3.4vw;
	line-height: 12vw;
	color:#666;
	border-bottom: 1px solid #ccc;
}
.project-page .participator-list-head a.active{
	border-bottom: 1px solid #ff9500;
}
.project-page .participator-list-content .records .record{
	border-bottom: 1px solid #f1f1f1;
	padding:2.4vw 12vw 2.4vw 6vw;
	overflow: hidden;
	position: relative;
}
.project-page .participator-list-content .records .record:first-child{
	border-top:0;
}
.project-page .participator-list-content .records .avatar{
	width:14.8%;
	float: left;
}
.project-page .participator-list-content .records p{
	width:85.2%;
	float: left;
	padding-left: 5vw;
	margin:0;
	font-size:3.6vw;
	line-height: 1.5;
	color:#aaa;
	margin-top: 0.6vw;
}
.project-page .participator-list-content .records p .nickname{
	color: #666;
}
.project-page .participator-list-content .records p .quantities{
	color: #ff9500;
}
.project-page .participator-list-content .records p .ordertime{
	font-size:3vw;
}
.project-page .participator-list-content .records .order-info{
	width: 12%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    color:#ddd;
    line-height: 3.5;
}
.project-page .participator-list-content .records .order-info .iconfont:before{
	font-size:5vw;
}
.project-page .participator-list-content .detail img{
	display: block;
	width: 100%;
	height: auto;
}
.login-page{
	background: #fff;
	overflow: hidden;
}
.login-page .login-logo{
	display: block;
	width: 100%;
	height:auto;
	padding: 15vw 0 8vw;
}
.login-page span{
	color:#666;
	display: block;
	text-align: center;
	font-size: 4vw;
	margin: 5vw;
}
.login-page form{
	padding: 0 10vw;
}

.login-page form label{
	color:#666;
	font-weight: normal;
	font-size: 4vw;
	margin-right: 6vw;
	line-height: 2.5;
	margin-bottom: 0;
	padding: 1px 0;
}
.login-page form input{
	width: 100%;
	border: 1px solid #eee;
	line-height: 2.5;
	padding:0 1em;
}

.login-page form .form-row{
	position: relative;
	margin-bottom: 7.6vw;
}
.login-page form .form-row:first-child{
	margin-bottom: 3.8vw;
}
.login-page form .form-row{
	position: relative;
}
.login-page form .input-wrap{
	position: absolute;
	right:0;
	top: 0;
	right: 0;
	left:0;
	padding-left:14vw;
}
.login-button{
	background: #ff9500;
	border:0;
	color: #fff;
	display: block;
	width: 80%;
	margin: 0 auto 12.6vw;
	font-size:4.4vw;
	line-height: 2.4;
	border-radius: 8vw;
	
}
.login-row{
	margin: 0 auto 12.6vw;
	text-align: center;
	color:#999;
}
.login-row a{
	color:#999;
	font-size:3.6vw;
}
.login-page .weixin-login{
	font-size:4vw;
}
.login-page .weixin-login i{
	margin-right: 3.3vw;
	color:#48bf00;
	font-size:5vw;
}
.login-page .weixin-login i:before{
	font-size:5vw;
}
.info-wrap{
	padding:4vw;
}
.info-wrap i{
	color: #ff9500;
	margin-right:3vw;
}
.reg-page form .form-row{
	background: #fff;
	margin-bottom: 2px;
	padding:0 4vw;
	position: relative;
	line-height: 4.4;
}
.reg-page form .form-row .input-wrap{
	position: absolute;
	top: 0;
	right:0;
	bottom:0px;
	left:0;
	padding-left: 20vw;
}
.reg-page form .form-row .input-wrap input{
	width:100%;
	border:0;
	line-height: 4.2;
}
.reg-page form .form-row .input-wrap input{
	width:100%;
	border:0;
	line-height: 4.2;
}
.reg-page form .form-row .input-wrap .input-wrap-identify{
	padding-right:30vw;
	position: relative;
}
.reg-page form .form-row .input-wrap .send-code{
	position: absolute;
	right:0;
	top:0;
	bottom:0;
	text-align: center;
	width:30vw;
	color:#ff9500;
}
.reg-page form .reg-button{
	margin-top: 6vw;
	margin-bottom: 5vw;
}
.reg-page .reg-row{
	text-align: center;
	margin-bottom: 5vw;

}
.reg-page .reg-row a{
	color:#999;
}
.reg-page .reg-row a.agreement{
	color:#ff9500;
}
.button-wrap{
	padding: 0 10vw;
}
.recharge-page .recharge-row{
	padding:0 4vw;
	margin-bottom: 3vw;
	text-align: center;
	color:#999;
	overflow: hidden;
}
.recharge-page form a{
	font-size:15px;
	color:#ccc;
	border:1px solid #ccc;
	line-height: 3;
	border-radius: 4px;
	display: block;
	background: #fff;
	text-align: center;
}
.recharge-page form input{
	font-size:15px;
	color:#ccc;
	border:1px solid #ccc;
	line-height: 3;
	border-radius: 4px;
	display: block;
	width: 100%;
	padding:0;
	text-align: center;
}
.recharge-page form a.active,
.recharge-page form input.active{
	border:1px solid #ff9500;
	color:#ff9500;
}
.recharge-page form a.payment-method{
	color:#666;
	text-align: left;
	padding:0 8vw;
	position: relative;
}
.recharge-page form a.payment-method span{
	color:#999;
	font-size: 85%;
	margin-left: 4vw;
}
.recharge-page form a.payment-method:after{
	content: "\e64e";
	font-family:"iconfont" !important;
	position: absolute;
	right: 4vw;
	top: 0;
	bottom: 0;
	color:#1eaa39;
	font-size:24px;
	line-height: 2.1;
}
.publish-row{
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
	position: relative;
	padding:5vw 0;
	display: flex;
}
.publish-row .icon-img img{
	display: block;
	width:100%;
	height:auto;
}

.publish-row .upload-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 15px;
}

.publish-row .upload-wrap:after{
	position: absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background: url(../img/upload-img.jpg);
	background-size: cover;
	content: "";
	display: block;
}
.publish-row .upload-wrap input{
	top: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
    display: block;
    width: 100%;
    z-index: 2;
}
.publish-input-row{
	padding:6vw 5vw 6vw 25vw;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
	position: relative;
}
.publish-input-row span{
	position: absolute;
	left:5vw;
	color:#999;
}
.publish-input-row input{
	border:0;
	display: block;
	width:80%;
	color:#666;
}

.title_count{
	position: absolute;
    right: 5vw;
    top: 6vw;
	color:#999;
}
.detail_count{
	position: absolute;
    right: 5vw;
    bottom: 4vw;
	color:#999;
}
.ip_title_count,
.product-detail-count,
.product-detail-img-count{
	display: inline;
}

.upload-btn{
	position:relative;
    width: 19vw;
    height: 19vw;
	float: left;
}

.upload-btn .upload-input,
.upload-btn .upload-icon{
	position:absolute;
	width:100%;
	height:100%;
}
.upload-btn .upload-input{
	z-index: 9999;
	opacity:0;
}
.upload-btn .upload-icon{
	background:#f1f1f1;
	font-size:32px;
	color:#999;
	text-align:center;
    line-height: 18vw;
}
.publish-page .product-detail-img{
	overflow: auto;
}

.publish-page .product-detail-img .detail-img{
	margin-bottom: 5px;
    width: 19vw;
    height: 19vw;
    background: #eee;
    overflow: hidden;
    text-align: center;
    position: relative;
	float: left;
    margin-right: 5px;
}

.publish-page .product-detail-img .detail-img img{
    height: 100%;
    max-width: max-content;
    text-align: center;
    left: 50%;
    -webkit-transform: translate3d(-50%,0,0);
    transform: translate3d(-50%,0,0);
    position: absolute;
}
.publish-page .product-detail-img .detail-img img.loading{
	height:auto;
    left: 50%;
	top:50%;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    position: absolute;
}

.publish-link-row {
	padding:6vw 5vw;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
	position: relative;
}
.publish-link-row span{
	color:#999
}
.publish-link-row span i{
	margin-right:2vw;
}
.publish-link-row a{
	position: absolute;
	right:0;
	top:0;
	bottom:0;
	color:#999;
    line-height: 17vw;
    width:17vw;
    text-align: center;
}
.publish-input-row2{
	padding:6vw 20vw 6vw 35vw;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
	position: relative;
}
.publish-input-row2 .input-name{
	position: absolute;
	left:5vw;
	color: #999;
	overflow:hidden;
}
.publish-input-row2 .input-name i{
	margin-right: 2vw;
	float: left;
}
.publish-input-row2 .unit{
	position: absolute;
	right:5vw;
	color: #999;
}
.publish-input-row2 input{
	border:0;
	display: block;
	width:100%;
	color:#666;
	padding: 0 1em;
}
.publish-input-row3{
	padding:6vw 20vw 6vw 45vw;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
	position: relative;
}
.publish-input-row3 .input-name{
	position: absolute;
	left: 11vw;
	color: #999;
	overflow:hidden;
}
.publish-input-row3 .input-name i{
	margin-right: 2vw;
	float: left;
}
.publish-input-row3 .unit{
	position: absolute;
	right:5vw;
	color: #999;
}

.publish-input-row3 input{
	border:0;
	display: block;
	width:100%;
	color:#666;
	padding: 0 1em;
}
.publish-input-row3 .check{
	left: 5vw;
	position: absolute;
	/* display: block; */
	width: 16px;
	height: 16px;
	border: 0;
}
.publish-input-row3 .check input{
	opacity:0;
}
.publish-input-row3 .check label{
	position:absolute;
	left:0;
	top:2px;
	right:0;
	bottom:0;
	border: 1px solid #999;
	width: 16px;
	height: 16px;
	display: block;
}
.publish-input-row3 .check input:checked+label{
	background:url(../img/checked.png) no-repeat;
	
	background-size: cover;
}
.publish-textarea-row{
	padding:6vw 5vw;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
	position: relative;
}
.publish-textarea-row span{
	display: block;
	margin-bottom: 3vw;
	color:#999;
}
.publish-textarea-row textarea{
	width: 100%;
	border:0;
	color:#666;
	resize: none;
	padding:0;
}
.publish-select-row{
	padding: 6vw 12vw 6vw 52vw;
	border-bottom: 1px solid #f1f1f1;
	overflow: hidden;
	position: relative;
	color:#999;
}
.publish-select-row input{
	border:0;
}
.publish-select-row .check-box{
	position: absolute;
	left:5vw;
}
.publish-select-row .check-box input{
	display: inline-block;
    width: 5vw;
    height: 5vw;
    float: left;
    margin: 0;
    margin-right:3vw;
    background: #fff;
    border: 1px solid #ccc;
    appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
.publish-select-row .check-box input:checked{
	background:url(../img/checked.png);
	background-size: cover;
}
.publish-select-row>span{
	position: absolute;
	right:5vw;
}
.publish-select-row select{
	width:100%;
	border:0;
	background:none;
	appearance:none;
	-moz-appearance:none;
	-webkit-appearance:none;
}
.page-user .user-top{
	background: #f1f1f1;
	padding: 6vw 9vw;
	overflow: hidden;
}
.page-user .user-top img{
	float: left;
	max-width: 20%;
	margin-right: 6vw;
}
.page-user .user-top span{
	display: block;
	font-size:5vw;
	padding:0 4vw 2vw;
}
.page-user .user-top a{
	padding:0.5vw 1.8vw;
	color:#fff;
	background: #FF9500;
	border-radius: 4vw;
}
.page-user .user-menu{
	overflow: hidden;
}
.page-user .user-menu>div{
	float: left;
	width:33.33333%;
	text-align: center;
	border-left: 1px solid #f1f1f1;
	padding:2vw 0;
}
.page-user .user-menu>div:first-child{
	border:0;
}
.page-user .user-menu a{
	display: block;
	color: #000000;
}
.page-user .user-menu a i{
	display: block;
}
.page-user .user-menu a i:before{
	font-size: 8vw;
}
.page-user .user-menu a .icon-record{
	color:#A4CF4D;
}
.page-user .user-menu a .icon-crown{
	color:#FF9500;
}
.page-user .user-menu a .icon-star{
	color:#ff4f6d;
}
.page-user .user-menu a .icon-setup{
	color:#63afff;	
}
.page-user .user-bottom{
	padding:4vw 4vw 0 4vw;
}
.page-user .fold-top{
	overflow: hidden;
    font-size:4vw;
    line-height:8vw;
    margin-bottom: 4vw;;
}
.page-user .fold-top img{
	display: block;
	float: left;
	width:8vw;
	margin-right: 3vw;
	
}
.page-user .fold-bottom{
}
.page-user .fold-bottom .row{
	padding-bottom:4vw;
}
.page-user .fold-bottom .row .text-left{
	font-size:200%;
	color:#ff9500;
	line-height:1.7;
}
.page-user .fold-bottom .row .text-right{
	line-height: 3.4;
}
.page-user .fold-bottom a{
	border-top: 1px solid #eee;
	color: #ff9500;
	font-size:4vw;
	line-height: 3;;
}
.page-user .share{
	display:block;
	padding:3vw 4vw;
	line-height:1.7;
	position:relative;
}
.page-user .share p{
	margin:0;
	color:#999;
	font-size:3.4vw;
	padding-right:12%;
}
.page-user .share p span{
	display:block;
	color:#000;
	font-size:130%;
}
.page-user .share .iconfont{
	position:absolute;
	top:50%;
	right:0;
	left:88%;
	margin-top:-2.5vw;
	line-height:1;
}
.page-user .share .iconfont:before{
	font-size:5vw;
}
.page-order-list .order-list .tab-head {
	overflow: hidden;
	background: #FFF;
	margin-bottom: 4vw;
}
.page-order-list .order-list .tab-head a{
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	text-align: center;
	font-size:15px;
	padding: 3vw 0;
	color: #999;	
}
.page-order-list .order-list .tab-head a:first-child{
	border-left:0;
}
.page-order-list .order-list .tab-head a.active,
.page-order-list .order-list .tab-head a:hover{
	border-bottom:1px solid #ff9500;
}
.page-order-list .order-list .order{
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding:4vw;
	display: block;
	overflow: hidden;
}
.page-order-list .order-list .orders .order:first-child{
	border-top: 1px solid #ccc;
}
.page-order-list .order-list .orders .order .order-number{
	
	color:#999;
	line-height: 1.5;
}
.page-order-list .order-list .orders .order .order-state{
	font-size: 14px;
	color:#FF9500;
	display: block;
	margin-bottom: 1vw;
	line-height: 1.5;
	text-align: left;
}
.page-order-list .order-list .orders .order .title{
	display: block;
	color:#666;
	font-size:15px;
	margin-bottom: 2vw;
	line-height: 1.5;
}
.page-order-list .order-list .orders .order .order-quantity{
	display: block;
	color:#666;
	font-size:15px;
	margin-bottom: 2vw;
	line-height: 30px;
}
.page-order-list .order-list .orders .order p{
	color:#999;
	margin-top: 1vw;
	margin-bottom: 0;
}
.page-order-list .order-list .orders .order p .order-time{
	font-size:14px;
	display: block;
	margin-top:2vw;
	clear: both;
}
.page-order-list .order-list .orders .order.winner{
	position: relative;
}
.page-order-list .order-list .orders .order.winner:after{
	content:"";
	background: rgba(255, 0, 0, 0.06);
	position: absolute;
	top:0;
	left:0;
	bottom: 0;
	right:0;
	padding:4vw;
}
.page-publish-list .tab-head{
	background: #fff;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	margin-bottom: 4vw;
}
.page-publish-list .tab-head a{
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
	text-align: center;
	font-size:15px;
	padding: 3vw 0;
	color: #999;	
}
.page-publish-list .tab-head a:first-child{
	border-left:0;
}
.page-publish-list .tab-head a.active,
.page-publish-list .tab-head a:hover{
	border-bottom:1px solid #ff9500;
}
.page-publish-list .publish-list .publish{
	background: #fff;
	border-bottom: 1px solid #ccc;
	padding:4vw;
	display: block;
	overflow: hidden;
}
.page-publish-list .publish-list .publishs .publish:first-child{
	border-top: 1px solid #ccc;
}
.page-publish-list .publish-list .publishs .publish p{
	position: absolute;
	bottom:0;
	right:4vw;
}

.modal-1 {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
	display: none
}
.modal-content-1{
	background: #fff;
	color:#aaa;
	position: absolute;
	top:50%;
	left:50%;
	transform: translate3d(-50%,-50%,0);
	padding:8vw 4vw 4vw;
	border-radius: 2vw;;
}
.modal-content-1 .close{
	position: absolute;
	right:4vw;
	top:4vw;
}
.modal-content-1 .clearfix{
	margin-bottom: 4vw;
}
.modal-content-1 p{
	padding-left: 5em;
	color:#666
}
.modal-content-1 .nickname{
	color:#666;
}
.modal-content-1 .quantities {
    color: #ff9500;
}
.modal.icons{
	overflow:hidden;
	background:#fff;
}
.modal.icons .modal-content{
	overflow-x: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    position: absolute;
    top:20vw;
    bottom: 0;
	left:2vw;
	right:2vw;
}
.modal.icons .icon{
	width:20%;
	margin:0 2%;
	float:left;
	height:18vw;
	margin-bottom:2vmin;
}
.modal.icons .icon img{
	display:block;
	height:auto;
	padding:2vw;
	width: 100%;
	transition:all 0.3s;
}
.modal.icons .icon:hover img,
.modal.icons .icon:active img{
	transform: translate(0px,-1vw);
}
.modal.icons .modal-head{
	padding: 4vw;
	overflow:hidden;
	border-bottom:1px solid #f1f1f1;
}
.modal.icons .modal-head .modal-title{
	float:left;
	font-size:4vw;
	line-height:2;
	color: #999;
}
.modal.icons .modal-head .modal-close{
	float:right;
	font-size:8vw;
	line-height:1;
	font-weight:100;
	color: #666;
}
.rule-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 999;
    color:#555;
    display:none;
}
.rule-modal h2{
	font-size: 6vw;
	text-align:center;
	margin-top:10px;
}
.rule-modal ul li{
	margin-bottom: 10px;
}
.rule-modal .rule-modal-content{
	background: #fff;
	padding: 3vw;
	/* margin: 5vw 7vw; */
	box-shadow: #ccc 0px 0px 10px;
	position:absolute;
	top: 5vw;
	left: 7vw;
	right: 7vw;
	bottom: 5vw;
	overflow-y: auto;
}
.rule-modal .rule-modal-close{
	position: absolute;
	top: 3vw;
	right: 2vw;
	border: 0;
	width: 6vw;
	height: 6vw;
	font-size: 7vw;
	background: 0;
	color: #fff;
	font-weight: 100;
	font-family: sans-serif;
}

.tablist .tablist-head a{
	border-bottom:1px solid #ccc;
}
.tablist .tablist-head a.active{
	border-bottom:1px solid #ff9500;
}


.lastest-red-packet {
	line-height: 1.5px;
	padding: 8px;
	background-color: #a41de3;
	overflow:hidden;
	color:#fff;
}
.lastest-red-packet .swiper-slide{
	padding-right:20%;
	background: url(../img/medal.png)  no-repeat center right;
	background-size: auto 100%;
	height: 45px;
	overflow: hidden;
}
.title-h2{
	background:#f1f1f1;
	text-align:center;
	font-size:5vw;
	color:#555;
	padding: 3vw 0 ;
}
.title-h2 .active{
	color: #ff9500;
}
.title-h2 span{
	color:#aaa;
	font-size:3vw;
	display: block;
}
.project-page .introduction  ul li{
	font-size:3.6vw;
	margin-bottom:10px;
    border: 1px solid #eee;
    padding: 10px;
    padding-left: 20px;
    border-left-color: #f50;
	background:none;
}

.project-page .introduction  ul li{}
.project-page .introduction li.con-detail{
	padding:0;
	background:none;
	border:none;
}
.project-page .introduction li.con-detail .extend-text{
	margin-bottom:10px;	
	font-size:4.2vw;
}
.project-page .introduction li.con-detail img{
	margin-bottom:10px;	
}

.publisher{
    background: #ff9500;
    text-align: right;
    color: #fff;
    line-height: 2.5;
    padding: 0 3vw;
}

html.nofoucs{margin-top:64px;}
.nofoucs-ad{
	position: fixed;
    top: 0;
    left: 0;
	z-index:9999;
	width:100%;
	height:64px;
	background:#333;
}
.nofoucs-ad img{
	width:64px;
	height:64px;
    float: left;
}
.nofoucs-ad-text{
    color: #fff;
    margin-left: 80px;
    margin-top: 10px;
}

.swiper-button-prev{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");background-size: 13px 22px;left:2px;}
.swiper-button-next{background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");background-size: 13px 22px;right:2px;}


/* 评论 */
.comment{}



.comment ul{
	border-top: none;
}

.comment ul li{ 
	background:none;
	padding-left: 0;
}

.comment > ul > li{ 
    /*border-bottom: 1px solid #eee;*/
	padding-top: 20px;
	border-top:1px solid #eee;
}
.comment > ul > li:first-child{
	border-top:0;
}
.comment-item{
    padding-bottom: 10px;
	position: relative;
}

.comment-useravatar{
	width:48px;
	height:48px;
	position: absolute;
	border-radius: 50%;
	border: 1px solid #eee;
}

.comment ul ul{
	margin-left: 60px;
	padding-top: 0;
}

.comment-body{
	float:left;
	padding-left:60px;
	width:100%;
}

.comment li li .comment-item{ 
	background:rgb(244,245,247);
	padding:10px;
	border-radius: 5px;
	margin-bottom: 5px;
}

.comment li li .comment-useravatar{ 
	width:48px;
	height:48px;
}

.comment li li .comment-body{
	padding-left:0;
}

.comment-username{
	color:rgb(46, 159, 255);
	font-weight:bold;
}
.comment-date{
	color:#999;
	font-weight:normal;
}
.comment-content{
	font-size:4vw;
	color:#555;
}
.comment-reply{
    background: #f1f1f1;
    padding: 0 15px;
    display: inline-block;
	border-radius:12px;
	height:24px;
	line-height:23px;
	color:#555;
	margin-left:5px;
}
.comment-area{
    margin: 0 3vw 3vw;
    padding: 10px;
    border:1px solid #eee;
    position:relative;
}
.btn-comment{
}
.comment-area .btn-comment{
	/* position:absolute; */
	/* bottom:0; */
	/* right:0; */
	/* border-bottom:0; */
	/* border-right:0; */
	/* border-radius: 0; */
}
.comment-area .line{
	margin-left:-10px;
	margin-right:-10px;
	height:1px;
	border-bottom: 1px dashed #eee;
	margin-bottom: 10px;
}
.comment-area textarea{
	border:0;
	outline:0 !important;
	box-shadow: none !important;
	resize:none;
	padding:0;
}

.extend-img{
	overflow:hidden;
	margin-left: -1.5vw;
	margin-right: -1.5vw;
}
.extend-img .extend-img-item{
	float:left;
	width: 29vw;
	height: 29vw;
	overflow:hidden;
	margin: 1.4vw;
}
.text-red{
	color:red;
}
.share-area{
	position:fixed;
	right: 0;
	bottom:20vh;
}

.share-button {
	background: #ff9500;
	padding: 2vw 2vw 2vw 2vw;
	color: #fff;
	font-size: 3.6vw;
	border-radius: 4vw 0  0 4vw;
	z-index: 999;
	box-shadow: #ccc 0 0 10px;
}

.back-button {
	margin-top: 5px;
	background: #A4CF4D;
	padding: 2vw 2vw 2vw 2vw;
	color: #fff;
	font-size: 3.6vw;
	border-radius: 4vw 0  0 4vw;
	z-index: 999;
	box-shadow: #ccc 0 0 10px;
}
.small-title{
	padding: 6vw 6vw 3vw;
	display:block;
	border-top: 1px dashed rgba(255, 149, 0, 0.4);
	/* margin-top: 6vw; */
	text-shadow: #ccc 0px 1px 0px;
}
.productlist-filters{
	overflow:hidden;
}
.productlist-filters .productlist-filter{
	float:left;
	width:33.33%;
}
.productlist-filters .productlist-filter:first-child{
	
	border-left:0;
}
.productlist-filters .productlist-filter a{
	display:block;
	text-align:center;
	color:#fff;
	background:orange;
	padding:2vw 0;
}
.productlist-filters .productlist-filter a span{
	margin-left:2vw;
	font-size: 3vw;
	top:0;
}
.follow-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    z-index: 99999;
}
.follow-modal .center{
	    position: absolute;
	    top: 50%;
	    transform: translate(0,-50%);
	    text-align: center;
	    color: #fff;
	    width: 100%;
}
.follow-modal img{
	width:60%;
	margin-bottom:4vw;
}
.follow-modal .follow-modal-close{
    position: absolute;
    top: -25px;
    left: 80%;
    color: #fff;
    font-family: arial;
    font-size: 20px;
}

.unbox-list{

}
.unbox{
	box-sizing: content-box;
	padding:2vw 10px;
	overflow: hidden;
	border-top:1px solid #EEEEEE;
	background: #FFFFFF;
}
.unbox-left{
	float: left;
	width:12%;
}
.unbox-left .avatar{
	margin-top: 2vw;
}
.unbox-right{
	float:right;
	width:88%;
	padding-left: 10px;
	box-sizing: border-box;
}
.unbox-right h3{
	color: #5082b5;
	font-size:14px;
	font-weight: normal;
	margin:2vw 0 10px 0;
	padding:0;
}
.unbox-right p{
	margin:0 0 10px 0;
	font-size:14px;
	color:#333;
}
.unbox-img-wrap{
	overflow: hidden;
}
.unbox-img-wrap a{
	float: left;
	width:22vw;
	height:22vw;
	margin:0 1vw 1vw 0;
}
.unbox-bottom{
	font-size:12px;
	color:#666;
	padding:3vw 0  2vw;
}